<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/header :: head}">
  <meta charset="UTF-8">
  <title>개묘한 이야기</title>

</head>

<body>
<!--
유효성 검사 추가 예정
-->

<div th:replace="~{fragments/header :: header}"/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>회원 가입</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form th:method="post" action="/view/users/join" th:object="${userJoinRequest}">
        <div class="form-group">
          <label th:for="email">
            이메일
          </label>
          <input type="email" th:field="*{email}" class="form-control" oninput="email_ck()"
          placeholder="이메일을 입력하세요" th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'"/>
          <p th:if = "${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect data</p>
          <span id="email_span"></span>

        </div>
        <div class="form-group">

          <label th:for="userName">
            이름
          </label>
          <input type="text" th:field="*{userName}" class="form-control" id="userName"
          placeholder="아이디를 입력하세요"th:class="${#fields.hasErrors('userName')}? 'form-control fieldError' : 'form-control'"/>
          <p th:if = "${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect data</p>

        </div>
        <div class="form-group">

          <label th:for="password">
            비밀번호
          </label>
          <input type="password" th:field="*{password}" class="form-control" id="password"
          placeholder="비밀번호를 입력하세요" th:class="${#fields.hasErrors('userName')}? 'form-control fieldError' : 'form-control'"/>
          <p th:if = "${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>
          비밀번호 확인
          <input type="password" class="form-control" id="password_ck"
          placeholder="비밀번호 확인" th:class="${#fields.hasErrors('userName')}? 'form-control fieldError' : 'form-control'"/>
          <p th:if = "${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>
        </div>

        <br>
        <button type="submit" class="btn btn-primary" id="ck">
          회원 가입
        </button>
      </form>

    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>

<script th:inline="javascript">

  function email_ck() {
    let email = $("#email").val();
    let emailPass = false;
    let regexp = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;

    if (email == "") {
      $("#email_span").html("이메일을 입력하지 않으셨습니다");
      return;
    }

    if (regexp.test(email) == false){
      $("#email_span").html("유효한 이메일이 아닙니다");
      return;
    }

    console.log("이메일?: " + email)

    $.ajax({
      typ: "GET",
      url: "/view/users/check-email?email=${email}",
      contentType: "application/json",
      dataType: 'HTML',
      success: function (data) {
        console.log('성공 ' + data + ' ' + email);
        emailPass = true;
        $("#email_span").html("사용 가능한 이메일입니다");
      },
      error: function () {
        $("#email_span").html("중복된 이메일입니다");
        console.log('실패');
      }
    });
  }




</script>
</html>