<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script th:src="@{/js/login.js}"></script>
  <title>개묘한 이야기</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"></div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3> 로그인 </h3>
        </div>
        <div class="col-md-4">
          <form th:action="@{/api/v1/users/login}" th:object="${userLoginRequest}"
                class="login-form form-group">
            <div class="form-group">
              <label th:for="userName">
                아이디
              </label>
              <input type="text" th:field="*{userName}" class="form-control"
                     placeholder="아이디를 입력하세요"
                     th:class="${#fields.hasErrors('userName')}? 'form-control fieldError' : 'form-control'"/>
              <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect data</p>
            </div>

            <label th:for="password">
              비밀번호
            </label>
            <input type="password" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>
            <br>

            <button type="button" class="btn btn-primary" onclick="login()">
              로그인
            </button>
          </form>

          <br>

          <button type="button" class="btn btn-secondary"
                  onclick="location.href='/view/users/join'">
            회원 가입
          </button>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">

  async function login() {

    let userName = $("#userName").val();
    let password = $("#password").val();

    await axios.post("/api/v1/users/login", {
          "userName": userName,
          "password": password,
        },
        {withCredentials: true}
    ).then(res => {
      let config = {
        headers: {
          "Authorization": "Bearer " + res.data.result.accessToken
        }
      }
      if (res.data.resultCode == 'SUCCESS') {
        // const accessToken  = res.data.result.accessToken;
        // axios.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
        console.log("바로 실행 로그");
        console.log(config.headers)

        window.localStorage.setItem("accessToken", res.data.result.accessToken);

      } else {
        console.log("로그인 실패" + res.resultCode)
        localStorage.clear()
      }
    });
    const accessToken = window.localStorage.getItem("accessToken");
    if (accessToken != null) {
      axios.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
      document.location.href = "/view/groups";
      return true;
    }
  }

  // axios.interceptors.request.use(function (config) {
  //   console.log("인터셉터 시작")
  //   const accessToken = localStorage.getItem('accessToken');
  //   const cookie = document.cookie;
  //   console.log("헤더" + config.headers);
  //   console.log("cookie" + cookie);
  //   if (accessToken) {
  //     config.headers.Authorization = `Bearer ${accessToken}`;
  //   }
  //   return config;
  // })
  //
  // axios.interceptors.response.use(
  //     (response) => {
  //       return response;
  //     },
  //     async (error) => {
  //       const {
  //         config,
  //         response: { status },
  //       } = error;
  //
  //       const originalRequest = config;
  //
  //       if (status === 401) {
  //         const accessToken = localStorage.getItem('ACCESS_TOKEN');
  //         const cookie = document.cookie;
  //
  //         try {
  //           const { data } = await axios({
  //             method: 'post',
  //             url: `/api/v1/users/new-token`,
  //             data: { accessToken, cookie },
  //           });
  //           const newAccessToken = data.data.accessToken;
  //           originalRequest.headers = {
  //             'Content-Type': 'application/json',
  //             Authorization: 'Bearer ' + newAccessToken,
  //           };
  //           localStorage.setItem('ACCESS_TOKEN', newAccessToken);
  //           return await axios(originalRequest);
  //         } catch (err) {
  //           new Error(err);
  //         }
  //       }
  //       return Promise.reject(error);
  //     }
  // );


</script>
</body>
</html>
