<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script th:src="@{/js/login.js}"></script>

</head>
<body>
<div th:replace="~{fragments/header :: header}"/>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"></div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3> 로그인 </h3>
        </div>
        <div class="col-md-4">
          <form th:action="@{/api/v1/users/login}" th:object="${userLoginRequest}"
                class="login-form form-group">
            <div class="form-group">
              <label th:for="userName">
                아이디
              </label>
              <input type="text" th:field="*{userName}" class="form-control"
                     placeholder="아이디를 입력하세요"
                     th:class="${#fields.hasErrors('userName')}? 'form-control fieldError' : 'form-control'"/>
              <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Incorrect data</p>
            </div>

            <label th:for="password">
              비밀번호
            </label>
            <input type="password" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력하세요"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect data</p>
            <br>

            <button type="button" class="btn btn-primary" onclick="login()">
              로그인
            </button>
          </form>

          <br>

          <button type="button" class="btn btn-secondary"
                  onclick="location.href='/view/users/join'">
            회원 가입
          </button>

          <br>

          <a href="/oauth2/authorization/google"><img href="/oauth2/authorization/google" style="height: 30px; width: 30px"
                                                      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK5q0FP74VV9wbfwP378_7kj7iDomHuKrxkXsxDdUT28V9dlVMNUe-EMzaLwaFhneeuZI&usqp=CAU"
                                                      alt="구글"></a>
          <a href="/oauth2/authorization/naver"><img style="height: 30px; width: 30px"
                                                     src="https://blog.kakaocdn.net/dn/czMTX6/btqNbvGUwIu/xxqSeZd4eRMvTHqbfIZUd0/img.png"
                                                     alt="네이버"></a>

        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script type="text/javascript" th:src="@{/js/sign.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">

  async function login() {

    let userName = $("#userName").val();
    let password = $("#password").val();

    await axios.post("/api/v1/users/login", {
          "userName": userName,
          "password": password,
        },
        {withCredentials: true}
    ).then(res => {
      let config = {
        headers: {
          "Authorization": "Bearer " + res.data.result.accessToken
        }
      }
      if (res.data.resultCode == 'SUCCESS') {
        // const accessToken  = res.data.result.accessToken;
        // axios.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
        console.log("바로 실행 로그");
        console.log(config.headers)

        window.localStorage.setItem("accessToken", res.data.result.accessToken);
        document.location.href = "/view/groups";

      } else {
        console.log("로그인 실패" + res.resultCode)
        localStorage.clear()
      }
    }).catch(err => {
      let errMsg = err.response.data.result.message;

      if (errMsg === '사용자가 권한이 없습니다.' || errMsg === 'Not founded'){
        alert('아이디 혹은 비밀번호를 잘못 입력하셨습니다.');
        let userName = document.getElementById('userName');
        let password = document.getElementById('password');
        userName.value = null;
        password.value = null;
        localStorage.clear()
      }
    });

    const accessToken = window.localStorage.getItem("accessToken");
    if (accessToken != null) {
      axios.defaults.headers.common['Authorization'] = `Bearer ${accessToken}`;
      // document.location.href = "/view/groups";
      return true;
    }
  }


  // async function logout() {
  //
  //   /** 쿠키 꺼내기 */
  //   const cookie = document.cookie.valueOf();
  //
  //   /** 로컬스토리지에 담긴 토큰 꺼내기 */
  //   const accessToken = localStorage.getItem('accessToken');
  //
  //   /** 쿠키 삭제  */
  //   function deleteCookie(cName) {
  //     var expireDate = new Date();
  //     expireDate.setDate(expireDate.getDate() - 1);
  //     document.cookie = cName + "= " + "; expires=" + expireDate.toGMTString() + "; path=/";
  //   }
  //
  //   console.log("AT "+accessToken)
  //   console.log("RT "+cookie)
  //
  //   /** 로그아웃 */
  //   await axios.post(`/api/v1/users/logout`, {
  //     "accessToken": accessToken,
  //     "refreshToken": cookie
  //   }, {
  //     headers: {
  //       "Content-Type": `application/json`,
  //       Authorization: "Bearer " + localStorage.getItem("accessToken"),
  //     },
  //   }).then(res => {
  //     console.log(res)
  //     if (res.data.resultCode == 'SUCCESS') {
  //       console.log("바로 실행 로그");
  //       console.log(res.data.resultCode);
  //
  //       localStorage.clear();
  //       sessionStorage.clear();
  //       localStorage.removeItem('accessToken')
  //       deleteCookie('refreshToken');
  //
  //       document.location.href = "/view/users/login";
  //     } else {
  //       console.log("실패" + res.resultCode)
  //     }
  //   });
  // }

  // axios.interceptors.response.use(
  //     function (response) {
  //       console.log("get response", response);
  //       return response;
  //     },
  //     async (error) => {
  //       const {
  //         config,
  //           response,
  //         response: { status },
  //       } = error;
  //
  //       if (status === 401) {
  //         console.log("에러코드 401 " + status)
  //         if (response.data.result.message === '잘못된 토큰입니다. 토큰 기한 만료') {
  //           const originalRequest = config;
  //           const accessToken = localStorage.getItem('accessToken');
  //           const cookie = document.cookie;
  //           console.log("new-token 요청 전 " + response.data.result.message)
  //
  //           // token refresh 요청
  //           const { data } = await axios.post(
  //               `/api/v1/users/new-token`, // token refresh api
  //               { 'refreshToken': cookie,
  //               'accessToken': accessToken},
  //               {withCredentials: true}
  //           );
  //           // 새로운 토큰 저장
  //           // dispatch(userSlice.actions.setAccessToken(data.data.accessToken)); store에 저장
  //           const { accessToken: newAccessToken } =
  //               data;
  //           // await localStorage.setItem([
  //           //   ["accessToken", newAccessToken],
  //           // ]);
  //           // originalRequest.headers.authorization = `Bearer ${newAccessToken}`;
  //           // 401로 요청 실패했던 요청 새로운 accessToken으로 재요청
  //           // return axios(originalRequest);
  //         }
  //       }
  //       // Any status codes that falls outside the range of 2xx cause this function to trigger
  //       // Do something with response error
  //       console.log("response error", error);
  //       return Promise.reject(error);
  //     }
  // );


</script>
</body>
</html>
