<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet">

  <!-- CSS -->
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
<div th:replace="~{fragments/header :: header}"/>

<!--header----------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <section id="group-list">
        <div class="card visually-hidden" style="width: 500px;" data-bs-toggle="modal" data-bs-target="#exampleModal">

          <img class="pet-img" src="https://cdn-icons-png.flaticon.com/512/2138/2138245.png">
          <div class="info">
            <h1 class="roleInGroup card-title">그룹 내 닉네임</h1>
            <h6 class="card-subtitle mb-2 text-muted">
              <span class="groupName">그룹 이름</span>
            </h6>
          </div>
        </div>

      </section>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>



<!--show Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" onclick="get_group_info()"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">그룹 관리</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">그룹 이름</th>
            <td>
              <input id="groupName" type="text" class="form-control"/>
            </td>
          </tr>
          <tr>
            <th scope="row">닉네임</th>
            <td>
              <input id="roleInGroup" type="text" class="form-control"/>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <div class="p-2">
          <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            탈퇴
          </button>
        </div>
        <div class="p-2 flex-grow-1"></div>
        <div class="p-2">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#modifyModal" onclick="roleInGroup_modify()">수정</button>
        </div>
        <div class="collapse" id="collapseExample" style="width: 100%">
          <div class="card card-body" style="flex-direction: row;">
            <div>정말 탈퇴하시겠습니까?</div>
            <button type="button" class="btn btn-danger btn-sm ms-3" data-bs-dismiss="modal" onclick="leave_group()">탈퇴</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>


<!--footer---------------------------->

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
  const groupId = sessionStorage.getItem('groupId');
  let groupName;
  let roleInGroup;

  $(document).ready(function () {
    get_group_list();
  });

  axios.defaults.withCredentials = true;

  console.log("그룹아이디 " + groupId);

  async function get_group_list() {
    await axios.get(`/api/v1/groups/${groupId}/users`, {}, {
      headers: {
        "Content-Type": `application/json`
      },
    }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        let users = res.data.result.users;
        console.log(users)
        for (let i = 0; i < users.length; i++) {
          let id = users[i]['id'];
          let groupName = users[i]['groupName'];
          let name = users[i]['userName'];
          let roleInGroup = users[i]['roleInGroup'];

          let temp_html = `
                <div class="card" style="width: 500px;" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="get_group_info()">
                  <img class="pet-img" src="https://cdn-icons-png.flaticon.com/512/2138/2138245.png">
                  <div class="info">
                    <h3 class="name card-title">${groupName}</h3>
                    <h6 class="card-subtitle mb-2 text-muted">
                      <span class="pet_id" style="display: none;">${id}</span>
                      <span class="roleInGroup">${roleInGroup}</span>

                    </h6>
                  </div>
                </div>
          `
          $('#group-list').append(temp_html);
        }
        let add_html = `
        <div class="card" style="width: 500px; display: flex; align-items: center;height: 80px;" onclick="#">
          <h3 style="text-align: center; margin: auto;">그룹원 초대</h3>
        </div>
        `;
        $('#pet-list').append(add_html);
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }



  async function get_group_info() {
    await axios.get("/api/v1/groups/" + groupId + "/users" , {}, {
      headers: {},
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log("상처" + JSON.stringify(res.data.result))
        console.log("그루비룸1" + JSON.stringify(res.data.result.users.groupName));
        console.log("그루비룸2" + JSON.stringify(res.data.result.groupName));
        console.log("그루비룸3" + JSON.stringify(res.data.result.users));
        console.log("그루비룸3" + JSON.stringify(res.data.result.users[0].groupName));
        console.log("그루비룸3" + JSON.stringify(res.data.result.users[0].roleInGroup));
        console.log("그루비룸3" + JSON.stringify(res.data.result.users[0].userName));

        groupName = res.data.result.users[0].groupName;
        roleInGroup = res.data.result.users[0].roleInGroup
        userName = res.data.result.users[0].userName;

        $('#groupName').text(groupName);
        $('#exampleModalLabel').text(groupName);
        $('#roleInGroup').text(roleInGroup);
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }

  function show_pet_modify() {
    document.querySelector('#name-inp').value = rct_name;
    document.querySelector('#breed-inp').value = rct_breed;
    document.querySelector('#birthday-inp').value = rct_birthday;
    document.querySelector('#weight-inp').value = rct_weight;
    document.querySelector("table td input[name=species][value="+rct_species+"]").checked = true;
    document.querySelector("table td input[name=sex][value="+rct_sex+"]").checked = true;
  }

  async function modify_pet_info() {
    let name = $("#name-inp").val();
    let species = $("input:radio[name=species]:checked").val();
    let breed = $("#breed-inp").val();
    let sex = $("input:radio[name=sex]:checked").val();
    let birthday = $("#birthday-inp").val();
    let weight = $("#weight-inp").val();
    console.log(name)

    await axios.put("/api/v1/groups/" + groupId + "/pets/" + rct_id,
        {
          "name" : name,
          "species" : species,
          "breed" : breed,
          "sex" : sex,
          "birthday" : birthday,
          "weight" : weight
        }
        , {
          headers: {
            "Content-Type": `application/json`,
            Authorization: "Bearer " + localStorage.getItem("accessToken")
          },
        }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result);
        document.location.href = "/view/groups/"+groupId+"/pets";
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }

  async function delete_pet() {
    await axios.delete("/api/v1/groups/" + groupId + "/pets/" + rct_id, {}
        , {
          headers: {
            "Content-Type": `application/json`,
            Authorization: "Bearer " + localStorage.getItem("accessToken")
          },
        }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result);
        document.location.href = "/view/groups/"+groupId+"/pets";
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }

  function convert_sex_enum(sex_enum) {
    switch (sex_enum) {
      case "FEMALE":
        return "여아"
      case "SPAYED_FEMALE":
        return "중성화 여아"
      case "MALE":
        return "남아"
      case "NEUTERED_MALE":
        return "중성화 남아"
      default:
        return "?"
    }
  }

  function add_pet() {
    document.location.href = "/view/pets"
  }



  axios.interceptors.request.use(function (config) {
    console.log("인터셉터 시작")
    const accessToken = localStorage.getItem('accessToken');
    if (accessToken) {
      config.headers.Authorization = 'Bearer' + ' ' + accessToken
    } else {
      console.log("headers" + config.headers);
    }
    return config;
  })

</script>


</body>
</html>