<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">
  <title>DAENG NYANG</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script type="text/javascript" th:src="@{/js/sign.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

  <!-- Bootstrap 5.2.3 Version, 반응형 햄버거 메뉴 -->
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- CSS -->
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


</head>

<body>

<div th:fragment="header">
  <!-- Responsive navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 20px;">
    <div class="container-fluid">
      <a class="navbar-brand" onclick="location.href='/view/records/feed'">DAENG NYANG</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="login-on navbar-nav visually-hidden">
          <li class="nav-item"><a class="nav-link" onclick="move_calendar()">캘린더</a></li>
          <li class="nav-item"><a class="nav-link" onclick="move_all_record_feed()">다이어리</a></li>
        </ul>
        <!-- 로그인 했을때 -->
        <ul class="login-on navbar-nav ms-auto mb-2 mb-lg-0 visually-hidden">
          <li class="nav-item" onclick="move_alarm()"><a class="nav-link" aria-current="page" href="/view/notification">알람</a></li>
          <li class="nav-item"><a class="nav-link" onclick="move_group_list()">그룹 관리</a></li>
          <li class="nav-item"><a class="nav-link" onclick="move_pet_list()">반려동물 관리</a></li>
          <li class="nav-item"><a class="nav-link" onclick="logout()">로그아웃</a></li>

<!--          <li class="nav-item dropdown">-->
<!--            <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">마이페이지-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                   class="bi bi-caret-down" viewBox="0 0 16 16">-->
<!--                <path-->
<!--                    d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>-->
<!--              </svg>-->
<!--            </a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li class="dropdown-item" onclick="move_group_list()">그룹 관리</li>-->
<!--              <li class="dropdown-item" onclick="move_pet_list()">반려동물 관리</li>-->
<!--              <li class="dropdown-item" onclick="logout()">로그아웃</li>-->
<!--            </ul>-->
<!--          </li>-->
        </ul>
        <!-- <li class="nav-item"><a class="nav-link" href="/users/login">로그인</a></li> -->

        <!-- 로그인 안 했을때 -->
        <ul id="logout-on" class="navbar-nav ms-auto mb-2 mb-lg-0" sec:authorize="isAnonymous()">
          <li class="nav-item"><a class="nav-link" th:href="@{/view/users/join}">회원가입</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/view/users/login}">로그인</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>

  <script th:inline="javascript">

    const token = localStorage.getItem("accessToken");
    $(document).ready(function () {
      if (token != null) {
        let ob = document.getElementsByClassName('login-on');
        for (let i = 0; i < ob.length; i++) {
          ob.item(i).classList.remove('visually-hidden');
        }

        document.getElementById('logout-on').classList.add('visually-hidden');
        firebaseModule.init()

      }
    });
    const firebaseModule = (function () {
      async function init() {
        // Your web app's Firebase configuration
        if ('serviceWorker' in navigator) {
          window.addEventListener('load', function () {
            navigator.serviceWorker.register('/firebase-messaging-sw.js')
            .then(registration => {
              const firebaseConfig = {
                apiKey: "AIzaSyCUnOt-IbJVa8XIXm4wU_097CLWGSFFKA0",
                authDomain: "daengnyang-e1df7.firebaseapp.com",
                projectId: "daengnyang-e1df7",
                storageBucket: "daengnyang-e1df7.appspot.com",
                messagingSenderId: "685788055963",
                appId: "1:685788055963:web:e6e38b48dd874d7d80393e",
                measurementId: "G-98R8NEJEF1"
              };
              // Initialize Firebase
              firebase.initializeApp(firebaseConfig);

              // Show Notificaiton Dialog
              const messaging = firebase.messaging();
              messaging.requestPermission() //권한 요청 화면
              .then(function () {
                return messaging.getToken();
              })
              .then(async function (token) {
                console.log(token);
                await fetch('/api/v1/notification',
                    {
                      method: 'post',
                      headers: {
                        Authorization: "Bearer " + localStorage.getItem(
                            "accessToken"),
                      },
                      body: token
                    })
                messaging.onMessage(payload => {
                  const title = payload.notification.title
                  const options = {
                    body: payload.notification.body
                  }
                  navigator.serviceWorker.ready.then(registration => {
                    registration.showNotification(title, options);
                  })
                })
              })
              .catch(function (err) {
                console.log("Error Occured");
              })
            })
          })
        }
      }

      return {
        init: function () {
          init()
        }
      }
    })()

    function move_all_record_feed() {
      let url = "/view/records/feed"
      location.href = url;
    }

    function move_alarm() {
      let url = "/view/notification"
      location.href = url;
    }

    function move_calendar() {
      let groupId = sessionStorage.getItem("groupId");

      let url = "/view/groups/"+groupId+"/calendar"
      location.href = url;
    }

    function move_group_list() {
      let url = "/view/groups/mygroups"
      location.href = url;
    }

    function move_pet_list() {
      let groupId = sessionStorage.getItem("groupId");

      let url = "/view/groups/"+groupId+"/pets"
      location.href = url;
    }

  </script>
</div>


</body>
</html>
