<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
        crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet">

  <!-- CSS -->
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>

  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
<div th:replace="~{fragments/header :: header}"/>

<!--header----------------------------->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <section id="notification-list">
        <div class="card visually-hidden" style="width: 500px;">

          <div class="info">
            <h1 class="name card-title">훈이</h1>
            <h6 class="card-subtitle mb-2 text-muted">
              <span class="title">4살</span> |
              <span class="body">CAT</span> |
              <span class="checked">KSH</span> |
              <span class="notificationType">중성화 수컷</span>
            </h6>
          </div>
        </div>

      </section>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>



<!--show Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
          <tr>
            <th scope="row">제목</th>
            <td id="title"></td>
          </tr>
          <tr>
            <th scope="row">메세지</th>
            <td id="body"></td>
          </tr>
          <tr>
            <th scope="row">checked</th>
            <td id="checked"></td>
          </tr>
          <tr>
            <th scope="row">생일</th>가
            <td id="birthday"></td>
          </tr>
          <tr>
            <th scope="row">알람타입</th>
            <td id="notificationType"></td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!--footer---------------------------->

<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
  let lastId = 10000;
  const TABLE_ELE = document.querySelector("table");

  const drawList = (DATA) => {
    let listHtml = "";
    DATA.forEach((item, index) => {
      const { id, data1, data2, data3, data4, data5, data6, data7 } = item;
      const TR_ELE = document.createElement('tr');
      listHtml = `<td>${data1}</td>
                    <td>${data2}</td>
                    <td>${data3}</td>
                    <td>${data4}</td>
                    <td>${data5}</td>
                    <td>${data6}</td>
                    <td>${data7}</td>`;

      if (index === DATA.length - 1) lastId = id; // 마지막건 ID 저장

      TR_ELE.innerHtml = listHtml;
      TABLE_ELE.appendChild(TR_ELE);
    });
  };

  const getList = () => {
    fetch("/api/v1/notification", {
      method: "GET",
      params: {
        lastNotificationId:lastId,
        size:7
      }
    })
    .then((res) => res.json())
    .then((resJson) => {
      drawList(resJson);
    });
  };

  window.addEventListener("scroll", function () {
    const SCROLLED_HEIGHT = window.scrollY;
    const WINDOW_HEIGHT = window.innerHeight;
    const DOC_TOTAL_HEIGHT = document.body.offsetHeight;
    const IS_BOTTOM = WINDOW_HEIGHT + SCROLLED_HEIGHT === DOC_TOTAL_HEIGHT;

    if (IS_BOTTOM) {
      getList();
    }
  });
  // const value_lastNotificationId = [[${lastNotificationId}]];
  // const value_size = [[${size}]];
  // let rct_id;
  // let rct_name;
  // let rct_birthday;
  // let rct_breed;
  // let rct_sex;
  // let rct_species;
  // let rct_weight;
  //
  // $(document).ready(function () {
  //   get_notification_list();
  // });
  //
  // axios.defaults.withCredentials = true;
  // let lastId = 10000000;
  //

  // async function get_notification_list() {
  //   await axios.get("/api/v1/notification" ,
  //       {params:{
  //           lastNotificationId:value_lastNotificationId,
  //           size:value_size
  //         }}, {
  //     headers: {
  //       "Content-Type": `application/json`
  //     },
  //   }).then(res => {
  //     console.log(res)
  //     if (res.data.resultCode == 'SUCCESS') {
  //       let notifications = res.data.result.notifications;
  //       console.log(notifications)
  //       for (let i = 0; i < notifications.length; i++) {
  //         let id = notifications[i]['id'];
  //         let title = notifications[i]['title'];
  //         let body = notifications[i]['body'];
  //         let checked = notifications[i]['checked'];
  //         let notificationType_enum = notifications[i]['notificationType'];
  //
  //         let temp_html = `
  //               <div class="card" style="width: 500px;" data-bs-toggle="modal" data-bs-target="#exampleModal">
  //                 <img class="pet-img" src="https://cdn-icons-png.flaticon.com/512/2138/2138245.png">
  //                 <div class="info">
  //                   <h3 class="name card-title">${title}</h3>
  //                   <h6 class="card-subtitle mb-2 text-muted">
  //                     <span class="alarm_id" style="display: none;">${id}</span>
  //                     <span class="title">${title}</span> |
  //                     <span class="body">${body}</span> |
  //                     <span class="checked">${checked}</span> |
  //                     <span class="notificationType">${notificationType_enum}</span>
  //                   </h6>
  //                 </div>
  //               </div>
  //         `
  //         $('#notification-list').append(temp_html);
  //         lastId = id; // 마지막건 ID 저장
  //
  //       }
  //     } else {
  //       console.log("실패임" + res.resultCode)
  //     }
  //   });
  // }



  window.addEventListener("scroll", function () {
    const SCROLLED_HEIGHT = window.scrollY;
    const WINDOW_HEIGHT = window.innerHeight;
    const DOC_TOTAL_HEIGHT = document.body.offsetHeight;
    const IS_BOTTOM = WINDOW_HEIGHT + SCROLLED_HEIGHT === DOC_TOTAL_HEIGHT;

    if (IS_BOTTOM) {
      get_notification_list();
    }
  });


  axios.interceptors.request.use(function (config) {
    console.log("인터셉터 시작")
    const accessToken = localStorage.getItem('accessToken');
    if (accessToken) {
      config.headers.Authorization = 'Bearer' + ' ' + "eyJhbGciOiJIUzI1NiJ9.eyJ1c2VyTmFtZSI6InRlc3QwMjEyIiwicm9sZSI6WyJST0xFX1VTRVIiXSwiaWF0IjoxNjc2MTQyODE1LCJleHAiOjE2NzYxNDY0MTV9._UwKp_8rMWElq-hKAptTkZioTcjfchzIcTF2CLweBKA"
    } else {
      console.log("headers" + config.headers);
    }
    return config;
  })


</script>


</body>
</html>
