<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
    <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="starter-template.css" rel="stylesheet"/>

    <title>게시판</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('post')"></nav>

    <div class="container">
        <h2>안녕</h2>
        <p class="lead">안녕하세요 전체리스트입니다.</p>
        <div>총 건수 : <span th:text="${posts.totalElements}"></span></div>
        <form class="row g-3 d-flex justify-content-end" method="get" th:action="@{/posts/list}">
            <div class="col-auto">
                <label for="searchText" class="sr-only">검색</label>
                <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-light mb-3">검색</button>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">Mark</td>
                <td><a th:text="${post.title}" th:href="@{/posts/modify(id=${post.id})}">Otto</a></td>
                <td>홍길동</td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 == posts.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/posts/list(page=${posts.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i == posts.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" href="#" th:href="@{/posts/list(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}"></a></li>
                <li class="page-item" th:classappend="${posts.totalPages == posts.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{/posts/list(page=${posts.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                </li>
            </ul>
        </nav>
        <div class="text-right">
            <a type="button" class="btn btn-primary" th:href="@{/posts/form}">글 작성</a>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>

</html>
