<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <title>게시판</title>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"/>

        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 my-3">
                <div class="card text-center">
                    <div class="card-body">
                        <p class="card-text">오늘은 반려동물과 어떤일이 있었나요? 🐶</p>
                        <a href="#" class="btn btn-primary" th:href="@{/view/add}">글 작성하러가기</a>
<!--                        <a type="button" class="btn btn-danger" th:href="@{/posts/list}">취소</a>-->
                    </div>
                </div>
                <form class="row g-3 d-flex justify-content-end" th:method="get" th:action="@{/list}"">
                    <div class="col-auto">
                        <label th:for="searchText" class="sr-only"></label>
                        <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}">
                    </div>
                    <div class="col-auto" >
                        <button type="submit" class="btn btn-light my-4">검색</button>
                    </div>
                </form>
                <div class="col-md-12 my-3" th:each="list : ${list}" th:onclick="">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="container">
                            <div class="row">
                                <div class="col-8 p-4 d-flex flex-column position-static">
                                    <strong class="d-inline-block mb-2 text-success" th:text="*{list.category}">#산책</strong>
                                    <h3 class="mb-0" th:text="${list.title}">하루에 산책 3번한 날...</h3>
                                    <div class="mb-1 text-muted" th:text="${list.petId}">작성자 : 아빠</div>
                                    <p class="mb-auto" th:text="${list.body}">오늘은 산책을 세번이나 했다. 멍뭉이는 아직 멀쩡해보인다. 힘이 어디서 나오는지 모르겠다. 너무 힘들다... 그래도 귀여워서 참는다.</p>
                                    <a href="#" class="stretched-link"  th:href="@{'/pets/'+ "${response}"v1/crews/' + *{alarm.targetId}}">자세히 보러가기</a>
                                </div>
                                <div class="col-4 p-4 d-flex flex-column position-static">
                                    <img src="https://cdn.pixabay.com/photo/2019/07/23/13/51/shepherd-dog-4357790_1280.jpg" width="250" height="250" class="img-thumbnail" alt="강아지">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${1 == records.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link" th:href="@{/list(page=${records.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a>
                        </li>
                        <li class="page-item" th:classappend="${i == records.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                            <a class="page-link" href="#" th:href="@{/list(page=${i - 1}, searchText=${param.searchText})}" th:text="${i}"></a></li>
                        <li class="page-item" th:classappend="${records.totalPages == records.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link" href="#" th:href="@{/list(page=${records.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-3 my-3 mt-5">
                <div class="card my-3" style="width: 18rem;">
                    <div class="card-header">
                        🏘️️ 그룹명
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">아빠</li>
                        <li class="list-group-item">엄마</li>
                        <li class="list-group-item">멍뭉이</li>
                    </ul>
                </div>
                <div class="card my-3 mt-5" style="width: 18rem;">
                    <div class="card-header">
                        ✅️ 오늘의 일정
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">6시에 약먹기</li>
                        <li class="list-group-item">퇴근후 산책시키기</li>
                        <li class="list-group-item">메인피드 UI만들기</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</body>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->
<!--<script th:inline="javascript">-->

<!--    axios.defaults.withCredentials = true;-->

<!--    async function record_create() {-->
<!--        let petId = sessionStorage.getItem("petId");-->
<!--        console.log(sessionStorage.getItem("petId"));-->

<!--        let title = $("#title").val();-->
<!--        console.log(title);-->

<!--        let body = $("#body").val();-->
<!--        console.log(body);-->

<!--        let isPublic = $("input:radio[name=isPublic]:checked").val();-->

<!--        console.log(isPublic);-->
<!--        let category = $("input:radio[name=category]:checked").val();-->
<!--        console.log(category);-->
<!--        const token = localStorage.getItem("accessToken")-->
<!--        const cookie = document.cookie;-->
<!--        console.log("쿠키" + cookie);-->


<!--        await axios.post(`/api/v1/pets/${petId}/records`, {-->
<!--            "title": title,-->
<!--            "body": body,-->
<!--            "isPublic": isPublic,-->
<!--            "category": category,-->
<!--        }, {-->
<!--            headers: {-->
<!--                "Content-Type": `application/json`,-->
<!--                Authorization: "Bearer " + localStorage.getItem("accessToken")-->
<!--            },-->
<!--        }).then(res => {-->
<!--            console.log(res)-->
<!--            if (res.data.resultCode == 'SUCCESS') {-->
<!--                console.log("바로 실행 로그");-->
<!--                console.log(res.data.resultCode);-->
<!--                console.log(res.data.result.id);-->

<!--                sessionStorage.setItem("recordId", res.data.result.id);-->

<!--                document.location.href = "/list"-->
<!--            } else {-->
<!--                console.log("실패임" + res.resultCode)-->
<!--            }-->
<!--        });-->

<!--    }-->
<!--    axios.interceptors.request.use(function (config) {-->
<!--        console.log("인터셉터 시작")-->
<!--        const accessToken = localStorage.getItem('accessToken');-->
<!--        const cookie = document.cookie;-->
<!--        console.log("헤더" + config.headers);-->
<!--        console.log("cookie" + cookie);-->
<!--        if (accessToken) {-->
<!--            config.headers.Authorization = `Bearer ${accessToken}`;-->
<!--        }-->
<!--        return config;-->
<!--    })-->

<!--</script>-->
</html>
