<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
  <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <title>글 작성</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}"/>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 mt-5">
    <select class="form-select" aria-label="Default select example">
      <option selected>카테고리를 선택하세요.</option>
      <option value="1">일상</option>
      <option value="2">여행</option>
      <option value="3">질병</option>
    </select>

    <div class="col-md-12 my-3">
      <div class="mb-3 mt-3">
        <label for="exampleFormControlInput1" class="form-label">제목</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력해주세요.">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">내용</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="내용을 입력해주세요."></textarea>
      </div>
    </div>
    <div class="clearfix">
      <img alt="" src="https://cdn.pixabay.com/photo/2018/05/26/18/06/dog-3431913_1280.jpg" width="200" height="200" class="rounded float-start"/>
    </div>
    <hr/>
    <div class="form-check mt-3">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        비공개 하기를 원하시면 체크해주세요.
      </label>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-danger" type="button">수정하기</button>
      <button class="btn btn-primary" type="button">취소</button>
    </div>
  </div>
  <div class="col-md-3 my-3 mt-5">
    <th:block th:replace="~{fragments/right :: right}"></th:block>
  </div>
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
  axios.interceptors.response.use(
      success => success,
      async (error) => {
        console.log("err " + error)
        console.log("err.response " + JSON.stringify(error.response))
        let errCode = error.response.data.result.errorCode;

        if (errCode === 'INVALID_TOKEN') {
          document.location.href = "/view/users/login"
        }
      }
  )
</script>
</body>

</html>
