<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
  <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"/>
  <!-- CSS -->
  <link th:href="@{/css/styles.css}" rel="stylesheet"/>
  <title>글 작성</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}"/>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 mt-5">
    <form role="form">
      <div id="tag-box">

        <input type="radio" class="btn-check mx-1" name="tag" id="tagName1" value="건강"
               autocomplete="off">
        <label class="btn btn-outline-primary" for="tagName1">건강</label>
        <input type="radio" class="btn-check mx-1" name="tag" id="tagName2" value="산책"
               autocomplete="off">
        <label class="btn btn-outline-primary" for="tagName2">산책</label>
      </div>

      <div class="col-md-12 my-3">
        <div class="form-group mb-3 mt-3">
          <label for="title-inp" class="form-label">제목</label>
          <input type="text" class="form-control" id="title-inp" placeholder="제목을 입력해주세요.">
        </div>
        <div class="mb-3">
          <label for="body-inp" class="form-label">내용</label>
          <textarea class="form-control" id="body-inp" rows="5"
                    placeholder="내용을 입력해주세요."></textarea>
        </div>
      </div>
      <div class="form-check mt-3">
        <label></label>
        <label><input type="radio" name="isPublic" value="true"> 공개</label>
        <label><input type="radio" name="isPublic" value="false" checked> 비공개</label>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" onclick="create_records()">작성하기</button>
      </div>

      <!--      사진 저장-->
      <div>
        <div class="alert alert-danger mt-3" role="alert">
          📌 [작성하기] 버튼을 누른 후 사진을 등록해주세요.
        </div>
        <div class="alert alert-warning mt-3" role="alert">
          1️⃣ 처음 파일은 사진을 넣어주세요.<br>
          2️⃣ 동영상은 하나만 입력해주세요.
        </div>

        <div class="mb-3">
          <label for="formFileMultiple1" class="form-label">사진/동영상</label>
          <input class="form-control files" type="file" id="formFileMultiple1" multiple>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple2" class="form-label">사진/동영상</label>
          <input class="form-control files" type="file" id="formFileMultiple2" multiple>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple3" class="form-label">사진/동영상</label>
          <input class="form-control files" type="file" id="formFileMultiple3" multiple>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple4" class="form-label">사진/동영상</label>
          <input class="form-control files" type="file" id="formFileMultiple4" multiple>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple5" class="form-label">사진/동영상</label>
          <input class="form-control files" type="file" id="formFileMultiple5" multiple>
        </div>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" type="button" onclick="add_file()">사진등록하기</button>
      </div>
    </form>
  </div>
  <div class="col-md-3 my-3 mt-5">
    <th:block th:replace="~{fragments/right :: right}"></th:block>
  </div>
</div>
</div>





<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
  const petId = [[${petId}]];
  let recordId;

  $(document).ready(function () {
    get_group_tag();
  });

  async function create_records() {
    let title = $("#title-inp").val();
    if (title == null) {
      alert("제목을 입력해주세요")
      return;
    }
    let body = $("#body-inp").val();
    let tagId = $("input:radio[name=tag]:checked").val();
    if (tagId == null) {
      alert("태그를 선택해 주십시오. 없다면 태그를 만들어 보세요 👍")
      return;
    }
    let isPublic = $("input:radio[name=isPublic]:checked").val();
    console.log(name)

    await axios.post("/api/v1/pets/" + petId + "/records",
        {
          "title": title,
          "body": body,
          "tagId": tagId,
          "isPublic": isPublic
        }
        , {
          headers: {
            "Content-Type": `application/json`,
            Authorization: "Bearer " + localStorage.getItem("accessToken")
          },
        }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        recordId = res.data.result.id;
        alert("일기가 성공적으로 저장되었습니다. 사진을 추가하시려면 아래에서 진행해주세요.");
        // document.location.href = "/view/pets/" + petId + "/records/"+recordId;
      }
    }).catch(err => {
      let res = err.response.data.result;
      let message = res.errorCode + " : " + res.message;
      alert(message);
    });
  }

  async function add_file() {
    let formData = new FormData();
    var fileInput = $('.files');
    for (let i = 0; i < fileInput.length; i++) {
      if (fileInput[i].files.length > 0) {
        formData.append('multipartFiles', fileInput[i].files[0]);
      }
    }
    await axios.post("/api/v1/pets/" + petId + "/records/"+recordId+"/recordFiles/upload",
        formData,
        {
          headers: {
            "Content-Type": "multipart/form-data",
            Authorization: "Bearer " + localStorage.getItem("accessToken")
          },
        }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result);
        document.location.href = "/view/pets/" + petId + "/records/"+recordId;
      }
    }).catch(err => {
      let res = err.response.data.result;
      let message = res.errorCode + " : " + res.message;
      alert(message);
    });
  }


  async function get_group_tag() {
    const groupId = sessionStorage.getItem("groupId");
    await axios.get("/api/v1/groups/" + groupId + "/tags", {}, {
      headers: {},
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result)
        $('#tag-box').empty();
        let plus_html = `
                <button type="button" class="btn btn-primary" onclick="moveToTagPage();">+</button>
        `;
        $('#tag-box').append(plus_html);

        const tags = res.data.result;
        for (let i = 0; i < tags.length; i++) {
          let id = tags[i]['id'];
          let name = tags[i]['name'];

          let temp_html = `
            <input type="radio" class="btn-check mx-1" name="tag" id="tag-${name}" value="${id}" autocomplete="off">
            <label class="btn btn-outline-primary" for="tag-${name}">${name}</label>
          `
          $('#tag-box').append(temp_html);
        }
      }
    }).catch(err => {
      let res = err.response.data.result;
      let message = res.errorCode + " : " + res.message;
      alert(message);
    });
  }

  function moveToTagPage() {
    const groupId = sessionStorage.getItem("groupId");
    console.log(groupId)
    if (confirm("태그 관리 페이지로 이동합니다.")) {
      document.location.href = "/view/groups/"+groupId+"/tags";
    }
  }

  axios.interceptors.request.use(function (config) {
    console.log("인터셉터 시작")
    const accessToken = localStorage.getItem('accessToken');
    if (accessToken) {
      config.headers.Authorization = 'Bearer' + ' ' + accessToken
    } else {
      console.log("headers" + config.headers);
    }
    return config;
  })

</script>
</body>
</html>

