<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
  <!-- @{...}는 타임리프의 기본 링크 표현 구문 -->
  <!-- Required meta tags -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"/>
  <title>게시판</title>


  <style>
    .hidden {
      display: none;
    }
  </style>
</head>

<body>
<div th:replace="~{fragments/header :: header}"/>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 my-3">
    <div class="col-md-12 my-3">
      <div
          class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success"
          >#<span id="tag">태그</span></strong>
          <h3 id="title" class="mb-0">제목</h3>

          <table class="table table-sm mt-5 table-borderless">
            <thead>
            <tr>
              <th scope="col" style="text-decoration: underline" colspan="2">애기이름</th>
              <th scope="col" id="petName" colspan="2" style="width: 40%;">멍멍</th>
              <th scope="col" class="align-bottom" style="font-size: small">작성일시</th>
              <td id="createdAt" class="text-muted align-bottom" style="font-size: small">0000-00-00
                00:00:00
              </td>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row" style="text-decoration: underline" colspan="2">작성자</th>
              <th colspan="2" id="userName">이름</th>
              <th class="align-top" style="font-size: small">수정일시</th>
              <td id="lastModifiedAt" class="text-muted align-top" style="font-size: small">
                0000-00-00 00:00:00
              </td>
            </tr>
            </tbody>
          </table>

          <div id="body-box" class="mb-auto">-</div>


          <div id="photo-wrapper">
          </div>


          <div id="video-wrapper">
          </div>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
      <button id="btn-modify" class="btn btn-warning"  data-bs-toggle="modal"
              data-bs-target="#modifyModal" onclick="show_record_modify()">수정</button>
      <button id="btn-delete" class="btn btn-danger mx-2" onclick="delete_record()">삭제</button>
      <button onclick="history.back()" class="btn btn-primary">돌아가기</button>
    </div>
    <div class="card">
      <form>
      <div class="card-body"><textarea id="comment" class="form-control" row="1"></textarea></div>
      <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary" onclick="comment_create()">등록</button>
      </div>
      </form>
    </div>
    <br/>
    <div class="card">
      <div class="card-header" id="comment-wrapper">
<!--        <ui id="comment&#45;&#45;box" class="light-group">-->
<!--          <li id="comment&#45;&#45;1" class="list-group-item d-flex justify-content-between my-3">-->
<!--            <div>댓글 내용입니다.</div>-->
<!--            <div class="d-flex">-->
<!--              <div class="front-italic" id="comment-userName">작성자 : 이상훈</div>-->
<!--            </div>-->
<!--            <div id="comment-list2"></div>-->
<!--          </li>-->
<!--        </ui>-->
      </div>
    </div>
  <div class="col-md-3 my-3 mt-5">
    <th:block th:replace="~{fragments/right :: right}"></th:block>
  </div>
</div>
</div>


<!--modify Modal-->
<div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form">
        <div class="modal-header">
          <h5>일기 수정</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form role="form">
            <div id="tag-box">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                +
              </button>
              <input type="radio" class="btn-check mx-1" name="tag" id="tagName1" value="건강"
                     autocomplete="off">
              <label class="btn btn-outline-primary" for="tagName1">건강</label>
              <input type="radio" class="btn-check mx-1" name="tag" id="tagName2" value="산책"
                     autocomplete="off">
              <label class="btn btn-outline-primary" for="tagName2">산책</label>
            </div>

            <div class="col-md-12 my-3">
              <div class="form-group mb-3 mt-3">
                <label for="title-inp" class="form-label">제목</label>
                <input type="text" class="form-control" id="title-inp" placeholder="제목을 입력해주세요.">
              </div>
              <div class="mb-3">
                <label for="body-inp" class="form-label">내용</label>
                <textarea class="form-control" id="body-inp" rows="5"
                          placeholder="내용을 입력해주세요."></textarea>
              </div>
            </div>
            <div class="form-check mt-3">
              <label></label>
              <label><input type="radio" name="isPublic" value="true"> 공개</label>
              <label><input type="radio" name="isPublic" value="false" checked> 비공개</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" onclick="modify_record_info()">
            수정 완료
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--댓글 수정 모달-->
<!-- 수정 모달 -->
<div class="modal fade" id="modifyCommentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">댓글 수정</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
<!--        <div class="modal-body">-->
<!--          <table class="table">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--              <th scope="row">닉네임</th>-->
<!--              <td>-->
<!--                <input id="modifyComment" name="roleInGroup" type="text" class="form-control"/>-->
<!--              </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--          </table>-->

<!--        </div>-->
<!--        <div class="modal-footer">-->

<!--          <div class="p-2 flex-grow-1"></div>-->
<!--          <div class="p-2">-->
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                    data-bs-target="#modifyModal" onclick="roleInGroup_modify()">수정</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
      <form>
        <div class="card-body"><textarea id="modifyComment" class="form-control" row="1"></textarea></div>
        <div class="card-footer d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary" onclick="comment_modify()">수정</button>
        </div>
      </form>
    </div>
  </div>
</div>


<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script th:inline="javascript">
  const petId = [[${petId}]];
  const recordId = [[${recordId}]];
  let author;
  let recordData;

  $(document).ready(function () {
    $('#carouselInner').empty();
    setTimeout(() => get_record_detail())
  });

  async function get_record_detail() {
    await axios.get("/api/v1/pets/" + petId + "/records/" + recordId, {}, {
      headers: {},
    }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        let data = res.data.result;
        recordData = data;
        author = data.userName;

        let id = data.id;
        let userId = data.userId;
        let petId = data.petId;
        let petName = data.petName;
        let title = data.title;
        let body = data.body;
        let userName = data.userName;
        let isPublic = data.isPublic;
        let tag = data.tag;
        let recordFiles = data.recordFiles;
        console.log(recordFiles);
        // let recordFile = data.recordFile;
        let createdAt = data.createdAt;
        let lastModifiedAt = data.lastModifiedAt;

        $('#id').text(id);
        $('#userId').text(userId);
        $('#petId').text(petId);
        $('#petName').text(petName);
        $('#title').text(title);
        $('#body-box').text(body);
        $('#userName').text(userName);
        $('#isPublic').text(isPublic);
        $('#tag').text(tag);
        $('#createdAt').text(createdAt);
        $('#lastModifiedAt').text(lastModifiedAt);

        for (let i = 0; i < recordFiles.length; i++) {
          let storedFileUrl = recordFiles[i]['storedFileUrl'];
          let uploadFilename = recordFiles[i]['uploadFilename'];
          let extention = getExtensionOfFilename(uploadFilename);

          if (extention === '.mp4') {
            let temp_html = `
            <video style="width:300px; height:200px" autoplay loop muted>
              <source src="${storedFileUrl}" type="video/mp4">
            </video>`;
            $('#video-wrapper').append(temp_html);
          } else {
            let pic_html = `
            <img src="${storedFileUrl}" alt="" width="100px" height="100px">
          `;
            $('#photo-wrapper').append(pic_html);
          }
        }
      } else {
        console.log("실패임" + res.resultCode)
      }
      setTimeout(async () => {
        await get_my_name(function (user) {
          if (user !== author) {
            document.getElementById('btn-delete').remove();
            document.getElementById('btn-modify').remove();
          }
        });
      })
    });
  }

  function getExtensionOfFilename(filename) {

    var _fileLen = filename.length;

    /**
     * lastIndexOf('.')
     * 뒤에서부터 '.'의 위치를 찾기위한 함수
     * 검색 문자의 위치를 반환한다.
     * 파일 이름에 '.'이 포함되는 경우가 있기 때문에 lastIndexOf() 사용
     */
    var _lastDot = filename.lastIndexOf('.');

    // 확장자 명만 추출한 후 소문자로 변경
    var _fileExt = filename.substring(_lastDot, _fileLen).toLowerCase();

    return _fileExt;
  }


  async function get_my_name(callback) {
    let user;
    await axios.get("/api/v1/users/myname", {}, {
      headers: {},
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result)
        user = res.data.result;
        sessionStorage.setItem("userName", user);
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
    callback(user);
  }

  async function delete_record() {
    await axios.delete("/api/v1/pets/" + petId + "/records/" + recordId, {}
        , {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("accessToken")
          },
        }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result);
        document.location.href = "/view/records/feed";
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }

  async function modify_record_info() {
    let title = $("#title-inp").val();
    if (title == null) {
      alert("제목을 입력해주세요");
      return;
    }
    let body = $("#body-inp").val();
    let tagId = $("input:radio[name=tag]:checked").val();
    if (tagId == null) {
      alert("태그를 선택해 주십시오. 없다면 태그를 만들어 보세요 👍");
      return;
    }
    let isPublic = $("input:radio[name=isPublic]:checked").val();
    console.log(name)

    await axios.put("/api/v1/pets/" + petId + "/records/" + recordId,
        {
          "title": title,
          "body": body,
          "tagId": tagId,
          "isPublic": isPublic
        }
        , {
          headers: {
            "Content-Type": `application/json`,
            Authorization: "Bearer " + localStorage.getItem("accessToken")
          },
        }).then(res => {
      console.log(res)
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result);
        document.location.href = "/view/pets/" + petId + "/records/"+recordId;
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }

  async function get_group_tag() {
    const groupId = sessionStorage.getItem("groupId");
    await axios.get("/api/v1/groups/" + groupId + "/tags", {}, {
      headers: {},
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result)
        $('#tag-box').empty();
        let plus_html = `
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+</button>
        `;
        $('#tag-box').append(plus_html);

        const tags = res.data.result;
        for (let i = 0; i < tags.length; i++) {
          let id = tags[i]['id'];
          let name = tags[i]['name'];

          let temp_html = `
            <input type="radio" class="btn-check mx-1" name="tag" id="tag-${name}" value="${id}" autocomplete="off">
            <label class="btn btn-outline-primary" for="tag-${name}">${name}</label>
          `
          $('#tag-box').append(temp_html);
        }
      } else {
        console.log("실패임" + res.resultCode)
      }
    });
  }

  function show_record_modify() {
    get_group_tag();

    document.querySelector('#title-inp').value = recordData.title;
    document.querySelector('#body-inp').value = recordData.body;
    document.querySelector("form input[name=tag][value=tag-"+recordData.tag+"]").checked = true;
    document.querySelector("form input[name=isPublic][value="+recordData.isPublic+"]").checked = true;

  }

  <!-- 댓글 등록 -->
  async function comment_create() {
    let comment = $("#comment").val();
    console.log("댓글" + comment)
    if (comment == null) {
      alert("댓글을 입력해주세요")
      return;
    }

    await axios.post("/api/v1/records/" + recordId + "/comments", {
      "comment": comment
    }, {
      headers: {
        "Content-Type": `application/json`,
        Authorization: "Bearer " + localStorage.getItem("accessToken")
      }
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result)
        alert("댓글이 등록되었습니다");
        document.location.href = "/view/pets/" + petId + "/records/" + recordId;
      }
    }).catch(err => {
      let errMsg = err.response.data.result.message;
      console.log("err " + errMsg);
    });
  }

  <!-- 댓글 리스트 -->
  $(document).ready(async function commentList() {
    let nowPage = 0;
    let param = '?page=' + nowPage;

    await axios.get("/api/v1/records/" + recordId + "/comments" + param, {}, {
      headers: {
        "Content-Type": `application/json`
      },
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        let commentList = res.data.result.content;
        let userName = sessionStorage.getItem('userName');

        for (let i = 0; i < commentList.length; i++) {
          let commentId = commentList[i]['id'];
          let commentUserName = commentList[i]['userName'];
          let comment = commentList[i]['comment'];

          let temp_html = `
          <form>
          <ui id="comment--box" class="light-group">
            <li class="list-group-item d-flex justify-content-between my-3">
              <div id="comment-body">${comment}</div>
              <div class="d-flex">
                <div class="front-italic" id="commentUserName">${commentUserName} </div>
          `
          if (userName !== commentUserName) {
            let temp_html3 = `
              </div>
            </li>
          </ui>
          </form>
          `
            $('#comment-wrapper').append(temp_html + temp_html3);
          } else {
            let temp_html2 = `
              <button type="button" id="comment-modify-btn" value="${commentId}"
              data-bs-toggle="modal" data-bs-target="#modifyCommentModal">수정</button>

              <button type="button" class="badge" value="${commentId}" id="comment-delete-btn" onclick="delete_comment()">삭제</button>
          `
            let temp_html3 = `
              </div>
             </li>
            </ui>
            </form>
          `
            $('#comment-wrapper').append(temp_html + temp_html2 + temp_html3);
          }
        }
      } else {
        console.log("실패 " + res.resultCode)
      }
    });
  })

  async function comment_modify() {
    let comment = $("#modifyComment").val();
    let commentId = $("#comment-modify-btn").val();
    if (comment == null) {
      alert("댓글 입력")
      return
    }
    await axios.put("/api/v1/records/" + recordId + "/comments/" + commentId , {
      "comment": comment
    }, {
      headers: {
        "Content-Type": `application/json`,
        Authorization: "Bearer " + localStorage.getItem("accessToken")
      }
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result)
        alert("댓글이 수정되었습니다");
        document.location.href = "/view/pets/" + petId + "/records/" + recordId;
      }
    }).catch(err => {
      let errMsg = err.response.data.result.message;
      console.log("err " + errMsg);
    });
  }
  <!-- 댓글 삭제 -->
  async function delete_comment() {
    let commentId = $("#comment-delete-btn").val();

    await axios.delete("/api/v1/records/" + recordId + "/comments/" + commentId , {}, {
      headers: {
        "Content-Type": `application/json`,
        Authorization: "Bearer " + localStorage.getItem("accessToken")
      }
    }).then(res => {
      if (res.data.resultCode == 'SUCCESS') {
        console.log(res.data.result)
        alert("댓글이 삭제되었습니다");
        document.location.href = "/view/pets/" + petId + "/records/" + recordId;
      }
    }).catch(err => {
      let errMsg = err.response.data.result.message;
      console.log("err " + errMsg);
    });
  }



  axios.interceptors.request.use(function (config) {
    console.log("인터셉터 시작")
    const accessToken = localStorage.getItem('accessToken');
    if (accessToken) {
      config.headers.Authorization = 'Bearer' + ' ' + accessToken
    } else {
      console.log("headers" + config.headers);
    }
    return config;
  })

</script>
</body>
</html>
