<!DOCTYPE html>
<html xmlns xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>wewe</title>
</head>
<body>
<h1>Test page! dd</h1>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>
<script src="/js/notification/notification.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
</body>
</html>